@font-face {
    font-family: quick;
    src: url(../fontes/Quicksand_Bold.otf);
}

body{
    font-family: quick;
    margin:0;
}

.menu{
    width: 100%;
    height: 5%;
    text-align:center;
    background-color:#362e26;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 2;
}
.home{
    width: 100%;
    transition:opacity 1s;
    filter: brightness(61%);
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -4%;
    width: 50%;
}
.menu a{
    color: #fff;
    text-decoration: none;
}

main{
    margin-top: 4%;
}

ul{
  padding-top: 1%;
  list-style: none;
}
li {
    color:white;
    font-size:20px;
    display: inline;
    margin-right: 100px;
}
.container{
   background-color:#be3e82;
   text-align:center;
   margin-top:10px;
   height:50%;
   width:100%;
}
#msg{
    height: 100px;
}
.img{
    width:90px;
    margin-right:10px;
}
.produtos{
    background-image: url(../imgs/produtos.png);
    text-align:center;
}
.produtos h1{
    color:black;
}
.produtos p{
    color:black;
}
.sobre{
    background-image: url(../imgs/produtos.png);
    width:100%;
    height:50%;
}
.sobre h1,p{
    color:#000;
    text-align: center;
    padding-top:2%;
}

.footer{
    position : relative;
    width: 100%;
    height: 43px;
    background-color:#362e26;
    text-align:center;
    border-top: 1px solid #fff;
    color:white;
}
.footer img{
    width:10px;
}
.form{
   width:50%;
   float:right;
   text-align:left;
}
#texto{
    float:left;
    width:50%;
}
#btn{
    margin-left:60px;
}
.icon{
    width:40px
}
.orcamento{
    width:50%;
}
.orcamento1{
    float:left;
    margin-left:400px;
}
.imgorcamento{
    width:90px;
}
.produtos{
    height:440px;
    width:100%;
}
.produtos .p1,.p2,.p3{
    text-align:center;
    float: left;
    padding:4.16%;
    margin: 4.16%;
    margin: 0 auto;
    width:25%;
}
#imagens img{
    width: 20%;
    opacity: 0.5;
    transition: opacity 2s;
}

#imagens img:hover{
    opacity: 1;
}
.galeriaall h1,p{
    color:#000;
}
.galeriaall{
    width: 100%;
    background-color: #fff;
    text-align:center;
    height:100%;
}
.sobrediv{
   width: 80%;
   margin: 0 auto;
}
.sobrediv p{
    text-align:center;
}

.sobrediv p{
    width: 70%;
    padding-right: 5%;
    float:left;
    
}

.sobrediv img{
    width:25%;
}

#orcamento form{
    width: 70%;
    padding-left: 30%;
}
#orcamento{
    background-color:#fff;
    text-align: center;
    padding: 0 5%;
}
#orcamento form input{
    width: 40%;
    display: block;
    margin: 0 auto 2% auto;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 3px solid #be3e82;
    outline: 0;
    background-color: #fff;
}

#orcamento form input[type="submit"]{
    background-color: #fff;
    width: 10%;
    padding: 1% 2%;
    border-radius: 10px;
    color: black;
    margin-bottom: 5px;
}
#orcamento div{
    width: 25%;
    float: left;
    padding-right: 5%;
}
.container h1{
    color:white;
}
#contato form{
    width: 70%;
    padding-left: 30%;
}
#contato{
    background-color:#fff;
    text-align: center;
    padding: 0 5%;
}
#contato form input{
    width: 40%;
    display: block;
    margin: 0 auto 2% auto;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 3px solid #be3e82;
    outline: 0;
    background-color: #fff;
}

#contato form input[type="submit"]{
    background-color: #fff;
    width: 10%;
    padding: 1% 2%;
    border-radius: 10px;
    color: black;
    margin-bottom: 5px;
}
#contato div{
    width: 25%;
    float: left;
    padding-right: 5%;
}
#contato h1,p{
    color:black;
}
#gallery{
    display: none;
    height: 75%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}
#gallery img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    background-color: blue;
}
.orca1{
    width:100%;
    
}
#imgorc{
    width:80%;
}
#imgorc img{
    width:25%;
}
h1{
    padding-top:2%;
    text-align:center;
}
#pedido li{
    color:black;
}

#esq, #dir{
    width: 5%;
    position: absolute;
    top: 67%;
    z-index: 5;
    display: none;
}

#esq{
    left: 5%;
}

#dir{
    right: 5%;
}

.menu li{
    cursor: pointer;
}
#prodorc{
    text-align: center;
}
#infopedido{
    text-align: center;
}